<a href="https://colab.research.google.com/github/Tina-Mulu/Autolib/blob/main/Moringa_Data_Science_Prep_W3_Independent_Project_2021_02_Tina_Mulu_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing pandas library
import pandas as pd

In [ ]:
#importing numpy as np
import numpy as np

a) Loading our dataset

In [ ]:
#loading our dataset
df = pd.read_csv('Autolib_dataset.csv')
df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

1.2) Checking the data validity by dropping irrelevnt dataframes

In [ ]:
# dropping the irrelevant columns
df.drop(["Geo point", "Kind", "Subscription status", "Displayed comment",  "Rental status", "Scheduled at"], axis=1, inplace=True)
df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 19 columns]

1.3 checking for completeness

In [ ]:
# checking for null values
df.isnull()

      Address   Cars  Bluecar counter  ...    day   hour  minute
0       False  False            False  ...  False  False   False
1       False  False            False  ...  False  False   False
2       False  False            False  ...  False  False   False
3       False  False            False  ...  False  False   False
4       False  False            False  ...  False  False   False
...       ...    ...              ...  ...    ...    ...     ...
4995    False  False            False  ...  False  False   False
4996    False  False            False  ...  False  False   False
4997    False  False            False  ...  False  False   False
4998    False  False            False  ...  False  False   False
4999    False  False            False  ...  False  False   False

[5000 rows x 19 columns]

In [ ]:
df.isnull().any()

Address               False
Cars                  False
Bluecar counter       False
Utilib counter        False
Utilib 1.4 counter    False
Charge Slots          False
Charging Status       False
City                  False
ID                    False
Postal code           False
Public name           False
Slots                 False
Station type          False
Status                False
year                  False
month                 False
day                   False
hour                  False
minute                False
date                  False
dtype: bool

1.4 consistency checks

In [ ]:
# checking for duplicates
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Length: 5000, dtype: bool

1.4.2 Uniformity checks

In [ ]:
# checking for consistency in the data 
# importing data time module
# lets add a date dataframe to our data
df['date'] = pd.to_datetime(df[['year' ,'month' ,'day', 'hour', 'minute']])
df

                                 Address  Cars  ...  minute                date
0                    2 Avenue de Suffren     0  ...      43 2018-04-08 11:43:00
1              145 Rue Raymond Losserand     6  ...      24 2018-04-06 07:24:00
2       2 Avenue John Fitzgerald Kennedy     3  ...      14 2018-04-03 20:14:00
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...      37 2018-04-04 04:37:00
4     6 avenue de la Porte de Champerret     3  ...      23 2018-04-08 17:23:00
...                                  ...   ...  ...     ...                 ...
4995                 8 avenue MÃ©nelotte     2  ...      26 2018-04-06 11:26:00
4996                   37 rue de Dantzig     4  ...      56 2018-04-04 16:56:00
4997                      142 rue du Bac     1  ...       1 2018-04-01 07:01:00
4998         2 avenue du Val de Fontenay     2  ...      27 2018-04-04 17:27:00
4999                 5 Rue Henry Brisson     4  ...       2 2018-04-08 10:02:00

[5000 rows x 20 columns]

1.5 Data analysis

In [ ]:
# creating a data frame on paris by selecting the city of paris from the city data frame


paris =df[df['City']=='Paris']
paris

                                 Address  Cars  ...  minute                date
0                    2 Avenue de Suffren     0  ...      43 2018-04-08 11:43:00
1              145 Rue Raymond Losserand     6  ...      24 2018-04-06 07:24:00
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...      37 2018-04-04 04:37:00
4     6 avenue de la Porte de Champerret     3  ...      23 2018-04-08 17:23:00
5                   8 Boulevard Voltaire     0  ...       2 2018-04-06 07:02:00
...                                  ...   ...  ...     ...                 ...
4992                     3 avenue d'Ivry     0  ...       1 2018-04-09 23:01:00
4994                    15 rue de Rocroy     0  ...      49 2018-04-01 20:49:00
4996                   37 rue de Dantzig     4  ...      56 2018-04-04 16:56:00
4997                      142 rue du Bac     1  ...       1 2018-04-01 07:01:00
4999                 5 Rue Henry Brisson     4  ...       2 2018-04-08 10:02:00

[2816 rows x 20 columns]

In [ ]:
# grouping the data by Public name
paris2 = paris.groupby(['Public name','date', 'hour']).sum()
paris2

                                                   Cars  ...  minute
Public name              date                hour        ...
Paris/25 AoÃ»t 1944/8    2018-04-01 18:40:00 18       1  ...      40
                         2018-04-02 07:37:00 7        4  ...      37
                         2018-04-02 12:49:00 12       2  ...      49
                         2018-04-04 03:10:00 3        3  ...      10
                         2018-04-04 18:48:00 18       1  ...      48
...                                                 ...  ...     ...
Paris/Ãtienne Marcel/36 2018-04-08 23:45:00 23       0  ...      45
                         2018-04-09 10:53:00 10       1  ...      53
                         2018-04-09 13:59:00 13       1  ...      59
Paris/Ãvangile/45       2018-04-03 09:50:00 9        6  ...      50
                         2018-04-09 04:57:00 4        4  ...      57

[2816 rows x 11 columns]

getting the difference between cars picked in different hours in  Paris

In [ ]:
paris2["hour_difference"] = paris2.groupby('Public name')['Cars'].diff()
paris2

                                                   Cars  ...  hour_difference
Public name              date                hour        ...
Paris/25 AoÃ»t 1944/8    2018-04-01 18:40:00 18       1  ...              NaN
                         2018-04-02 07:37:00 7        4  ...              3.0
                         2018-04-02 12:49:00 12       2  ...             -2.0
                         2018-04-04 03:10:00 3        3  ...              1.0
                         2018-04-04 18:48:00 18       1  ...             -2.0
...                                                 ...  ...              ...
Paris/Ãtienne Marcel/36 2018-04-08 23:45:00 23       0  ...              0.0
                         2018-04-09 10:53:00 10       1  ...              1.0
                         2018-04-09 13:59:00 13       1  ...              0.0
Paris/Ãvangile/45       2018-04-03 09:50:00 9        6  ...              NaN
                         2018-04-09 04:57:00 4        4  ...             -2.0

[2816 rows x 12 columns]

In [ ]:
#checking for the most popular hour of returning blue car in the city of paris

bluecar_counter = paris2[paris2['Bluecar counter'] > 0..paris2('hour')('hour').count().sort_values(ascending=False).head(1)]

  finding the most popular hour for returning cars

In [ ]:
# most popular hour for returning cars
paris['hour'].head(1)

0    11
Name: hour, dtype: int64

In [ ]:
# finding the most used station overall
df['Station type'].max()

'subs_center'

The most popular station at the most picking hour

In [ ]:
#finding the most popular station at the most picking hour
paris['Station type'].max()
paris.head(1)

               Address  Cars  Bluecar counter  ...  hour  minute                date
0  2 Avenue de Suffren     0                0  ...    11      43 2018-04-08 11:43:00

[1 rows x 20 columns]

In [ ]:
#What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?

paris['Postal code'].mode()
paris.head(1)

               Address  Cars  Bluecar counter  ...  hour  minute                date
0  2 Avenue de Suffren     0                0  ...    11      43 2018-04-08 11:43:00

[1 rows x 20 columns]